.stats-screen {
  padding: 8px 14px;
  display: flex;
  flex-direction: column;
  width: 6rem;
  background-color: $color-br-background;
  justify-content: space-between;

  &__main-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  &__speed-and-level {
    display: inline-flex;
    gap: 8px;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      span {
        color: $color-br-active;
        text-transform: uppercase;
      }
    }
  }

  icon-provider {
    width: 60px;
    height: 60px;
    fill: $color-br-inactive;

    &.active {
      fill: $color-br-active;
    }
  }

  &__music-and-pause {
    display: inline-flex;
    justify-content: center;
    gap: 14px;

    icon-provider {
      width: 28px;
      height: 28px;
    }
  }

  &__score {
    & > div {
      margin-bottom: 4px;
      display: flex;
      justify-content: center;

      span {
        color: $color-br-active;
        text-transform: uppercase;

        &[data-active = 'false'] {
          color: $color-br-inactive;
        }
      }
    }
  }
}
