$color-br-active: #212121;
$color-br-highlighted: #21212150;
$color-br-background: #9ead86;
$color-br-inactive: #21212120;
$color-btn-control: #117AE3;
$color-btn-control2: #78A6D2;
$console-color: #EFCC19;
$screen-border-width: 8px;
$screen-border-width--small-screen: 4px;
