brick-cell {
  display: flex;
  width: 14px;
  height: 14px;
  border: 1.5px solid $color-br-inactive;
  box-sizing: border-box;
  transition: all ease 0.05s;

  &:after {
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    margin: auto;
    background-color: $color-br-inactive;
    transition: background-color ease 0.05s;
  }
  
  &[highlighted] {
    border-color: $color-br-highlighted;
    &:after {
      background-color: $color-br-highlighted;
    }
  }

  &[transparent] {
    border-color: transparent;

    &:after {
      background-color: transparent;
    }
  }

  &[active] {
    border-color: $color-br-active;

    &:after {
      background-color: $color-br-active;
    }
  }
}