stats-screen-score {
  .score-digits {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
  }
  
  .score-label {
    span {
      color: $color-br-active;
      text-transform: uppercase;
      &[data-active = 'false'] {
        color: $color-br-inactive;
      }
    }
  }
}
