control-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;
  background-color: $color-btn-control;
  
  span {
    text-transform: uppercase;
    user-select: none;
  }
  
  &:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }
  
  &[size = 'sm'] {
    width: 4rem;
    height: 3rem;
  }
  
  &[size = 'lg'] {
    width: 5rem;
    height: 5rem;
  }
}