.stats-screen-level {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__digits {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
  }

  span {
    color: $color-br-active;
    text-transform: uppercase;
  }
}
