game-screen {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  background-color: red;

  .game-screen-wrapper {
    padding: 8px 0 8px 8px;
    background-color: $color-br-background;
    display: flex;

    .brick-screen-wrapper {
      border: 1.5px solid $color-br-active;
      padding: 5px;
    }
  }

  select-game, game-snake, game-tanks, game-racing {
    display: flex;
  }
}
