game-controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: green;
  align-items: center;
  .main-buttons {
    margin-top: 3rem;
    background-color: #2dd36f;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    
    &__cross {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--horizontal {
        display: flex;
        gap: 3rem;
      }
    }
  }
}