brick-screen {
  background-color: $color-br-background;
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  
  &[isHidden] {
    display: none;
  }
  
  .brick-screen-row {
    display: flex;
    gap: 2px;
  }
}
